/*=============================
            FONTS
=============================*/

@font-face {
  font-family: $primary-font-bold;
  src: url("./fonts/DMSans-Bold.ttf");
}
@font-face {
  font-family: $primary-font-bold-italic;
  src: url("./fonts/DMSans-BoldItalic.ttf");
}
@font-face {
  font-family: $primary-font-italic;
  src: url("./fonts/DMSans-Italic.ttf");
}
@font-face {
  font-family: $primary-font-regular;
  src: url("./fonts//DMSans-Medium.ttf");
}
@font-face {
  font-family: $primary-font-medium-italic;
  src: url("./fonts/DMSans-MediumItalic.ttf");
}
@font-face {
  font-family: $primary-font-regular;
  src: url("./fonts/DMSans-Regular.ttf");
}
