$mobile: 375px;
$desktop: 1440px;

$primary-color-1: hsl(10, 79%, 65%);
$primary-color-2: hsl(186, 34%, 60%);

$neutral-color-1: hsl(25, 47%, 15%);
$neutral-color-2: hsl(28, 10%, 53%);
$neutral-color-3: hsl(27, 66%, 92%);
$neutral-color-4: hsl(33, 100%, 98%);

$primary-font-size: 18px;