@import "./fonts";
@import "./variables";
@import "./mixins";

/*=============================
        GENERAL STYLE
=============================*/

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: $primary-font-size;
  font-family: "DMSans-Regular", Arial, Helvetica, sans-serif;
}
html, body{
  height: 100%;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { 
  color: hsl(228, 45%, 44%); 
  font-size: 13px;
}

body{
  @include center;
  flex-flow: column nowrap;
  background-color: $neutral-color-3;
  gap: 1rem;
}


/*=============================
            HEADER
=============================*/
.header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  border-radius: 15px;
  background-color: $primary-color-1;
  height: 100px;
  width: clamp(340px,50%,540px);
  color: $neutral-color-4;

  &__balance{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__title{
      font-weight: 300;
    }

    &__amount{
      font-family: "DMSans-Bold",Arial, Helvetica, sans-serif;
      font-size: 1.7rem;
    }
  }
}

/*=============================
            MAIN
=============================*/
.main{
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 50%;
  width: clamp(340px,50%,540px);
  background-color: $neutral-color-4;
  border-radius: 15px;
  padding: 22px;
  color: $neutral-color-1;

  &__title{
    font-family: "DMSans-Bold", Arial, Helvetica, sans-serif;
    font-size: clamp(1.3rem,5vw,1.7rem);
  }

  &__chart{}

  &__separation{
    width: 90%;
    height: 3px;
    background-color: $neutral-color-3;
  }

  &__total{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}
.total__month__title{
  font-weight: 300;
}
.total__month__price{
  font-family: "DMSans-Bold", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.last-month__percentage{}
.last-month__text{}