/*=============================
            FONTS
=============================*/
@font-face {
  font-family: "DMSans-Bold";
  src: url("../fonts/DM_Sans/DMSans-Bold.ttf");
}
@font-face {
  font-family: "DMSans-BoldItalic";
  src: url("../fonts/DM_Sans/DMSans-BoldItalic.ttf");
}
@font-face {
  font-family: "DMSans-Italic";
  src: url("../fonts/DM_Sans/DMSans-Italic.ttf");
}
@font-face {
  font-family: "DMSans-Medium";
  src: url("../fonts/DM_Sans//DMSans-Medium.ttf");
}
@font-face {
  font-family: "DMSans-MediumItalic";
  src: url("../fonts/DM_Sans/DMSans-MediumItalic.ttf");
}
@font-face {
  font-family: "DMSans-Regular";
  src: url("../fonts/DM_Sans/DMSans-Regular.ttf");
}
/*=============================
        GENERAL STYLE
=============================*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "DMSans-Regular", Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
  font-size: 13px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: hsl(27deg, 66%, 92%);
  gap: 1rem;
}

/*=============================
            HEADER
=============================*/
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  border-radius: 15px;
  background-color: hsl(10deg, 79%, 65%);
  height: 100px;
  width: clamp(340px, 50%, 540px);
  color: hsl(33deg, 100%, 98%);
}
.header__balance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header__balance__title {
  font-weight: 300;
}
.header__balance__amount {
  font-family: "DMSans-Bold", Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}

/*=============================
            MAIN
=============================*/
.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: clamp(340px, 50%, 540px);
  background-color: hsl(33deg, 100%, 98%);
  border-radius: 15px;
  padding: 22px;
  color: hsl(25deg, 47%, 15%);
}
.main__title {
  font-family: "DMSans-Bold", Arial, Helvetica, sans-serif;
  font-size: clamp(1.3rem, 5vw, 1.7rem);
}
.main__chart {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  height: 250px;
  width: 100%;
  gap: 10px;
}
.main__separation {
  width: 90%;
  height: 3px;
  background-color: hsl(27deg, 66%, 92%);
  margin: 30px auto;
}
.main__total {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.chart__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: clamp(33px, 100%, 50px);
  gap: 7px;
}
.chart__amount {
  display: none;
  background-color: hsl(25deg, 47%, 15%);
  border-radius: 5px;
  color: hsl(33deg, 100%, 98%);
  padding: 7px 10px;
  transition: 0.2s;
}
.chart__bar {
  background-color: hsl(10deg, 79%, 65%);
  max-height: 150px;
  height: 80px;
  width: 100%;
  border-radius: 5px;
}
.chart__day {
  padding: 8px 100% 0px;
}

.chart__bar:hover {
  background-color: #f29e8d;
}

.chart__container:hover .chart__amount {
  display: block;
}

.total__month__title {
  font-weight: 300;
}

.total__month__price {
  font-family: "DMSans-Bold", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.chart__bar--special {
  background-color: hsl(186deg, 34%, 60%);
  max-height: 150px;
  height: 150px;
  width: 100%;
  border-radius: 5px;
  background-color: hsl(186deg, 34%, 60%);
}
.chart__bar--special:hover {
  background-color: #98c7cd;
}

/*# sourceMappingURL=style.css.map */
